@font-face {
  font-family: 'Discobaby';
  src: url('../fonts/Discobaby.eot');
  src: url('../fonts/Discobaby.eot?#iefix') format('embedded-opentype'), url('../fonts/Discobaby.woff') format('woff'), url('../fonts/Discobaby.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.myImg {
  max-width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

body {
  background: #eee;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }
  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

.mainDiv {
  position: absolute;
  top: 60px;
  right: 0;
  height: 86%;
  width: 40%;
  background: #fff;
  -webkit-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.19);
  box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.19);
}

.sendMsg {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.sendMsg textarea {
  width: 80%;
  position: relative;
  margin-left: 8px;
}

.sendMsg button {
  position: absolute;
  right: 5px;
}

.chatDiv {
  position: absolute;
  width: 100%;
  height: 450px;
  padding: 10px 7px 30px 7px;
  overflow: auto;
}

.chatDiv ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.chatDiv ul li {
  list-style-type: none;
  margin-bottom: 7px;
  background: #eee;
  padding: 6px;
  width: 90%;
  border-radius: 5px;
}

input[type="button"] {
  position: absolute;
  top: 35px;
  right: 5px;
  width: 74px;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 30px;
  background: #002033;
}

.header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  background: #00385a;
  /* background: #34495E; */
}

.footer p {
  color: #fff;
  text-align: center;
  line-height: 30px;
  margin-bottom: 0px;
}

.logo {
  position: absolute;
  top: 0px;
  left: 0;
  width: 130px;
  height: 100%;
  background: #fff;
  padding: 3px 12px;
}

.logo img {
  width: 105px;
}

.logoText {
  font-family: 'Discobaby';
  margin-left: 140px;
  color: #fff;
  font-size: 40px;
}

.header button {
  position: absolute;
  top: 10px;
  right: 20px;
  border: none;
  background: #3dc8ff;
  height: 40px;
  border-radius: 5px;
  font-size: 15px;
  color: #fff;
  font-weight: bold;
}

.header button:hover {
  background: #0db1f3;
}

.story {
  position: absolute;
}

p.typing {
  position: absolute;
  top: -23px;
  margin-bottom: 0;
  font-size: 14px;
  margin-left: 8px;
}
